*{
    margin: 0;
    padding: 0;
 }
  
header{
    background: #BA55D3;
    color:black;
    height: 100px;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}
nav{
    background-color: darkmagenta;
}

.link{
    color:#fff;
    width: 25%;
    float:left;
    background-color: darkmagenta;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}
.link:hover{
    background: #BA55D3;
    color:black
}
section{
    background: violet;
    padding: 40px;
}
footer{
    background: #BA55D3;
    color: #fff;
    text-align: center;
    padding: 20px;
}